#body {
    margin: 0;
    padding: 0;
    background: url("../res/bg.png") #000;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

#container {
    margin: 0 auto 0 auto;
    background: #fff;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

